extends ../layout.pug 


block content

    
    form(method='POST', action="/books/new")

        include ../includes/book-form.pug

        div.btn-group
            input.btn-primary.btn(type='submit', value='Create New Book')
            a.btn.btn-secondary(href='/books') Cancel