extends ../layout.pug 


block content

    
    form(method='POST', action="/books/new")

        include ../includes/form.pug

        p
            input(type='submit', value='Create New Book')
        p
            a.button(href='/books') Cancel