extends ../layout.pug 

block content


    form(method='POST', action=`/books/${book.id}/edit`)

      include ../includes/book-form.pug
      
      p
        input(type='submit', value='Add Changes')
      p4
          a.button(href=`/books/${book.id}`) Cancel
      p
          a.button(href=`/books/${book.id}/delete`) Delete Book