extends ../layout.pug 

block content


    form(method='POST', action=`/books/${book.id}/edit`)

      include ../includes/book-form.pug
      
      div.btn-group
        input.btn.btn-primary(type='submit', value='Add Changes')
        a.btn.btn-secondary(href=`/books/${book.id}`) Cancel
        a.btn.btn-delete(href=`/books/${book.id}/delete`) Delete Book