extends ../layout.pug 

block content

    form(method='POST', action=`/books/${book.id}/edit`)
    
      include form.pug
      p
        input(type='submit', value='Update Book')
      p
          a.button(href='/books') Cancel
      p
          a.button(href=`/books/${book.id}/delete`) Delete Book