ul.pagination-links
    while pageLink <= numOfPages
        li
            if term
                a(href=`/books/search?term=${term}&page=${pageLink}`)= pageLink++
            else
                a(href=`/books/?page=${pageLink}`)= pageLink++