doctype html
head
  title Books
  link(rel="stylesheet", href="/stylesheets/normalize.css")
  link(href='https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap' rel='stylesheet')
  link(href='/stylesheets/style.css' rel='stylesheet')

    //- include page header
  include includes/header
  main
    .container 

      //- include the page title
      include includes/title

      //- include form-errors
      include includes/form-errors

    
      block content

  include includes/footer
