doctype html
html
  head
    title Books
    link(href='/stylesheets/style.css' rel='stylesheet')
  body

    //- include the page title
    include includes/title

    //- include form-errors
    include includes/form-errors

    
    block content
